{% extends "home.twig.html" %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="form-group">
                <textarea name="email" rows="10" placeholder="List of email..." class="form-control">{{ global.request.get('email', '') }}</textarea>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="strict" {{ global.request.get('strict', false)==true ? 'checked' : '' }} value="true">
                    Check email format
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkHost" {{ global.request.get('checkHost', false)==true ? 'checked' : '' }} value="true">
                    Check email domain
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Check</button>
            </div>
        </form>
    </div>

    {% if global.request.method == 'POST' %}
        <div class="col-md-6">
            <h3>Correct emails</h3>
            {% if correctEmails|length > 0 %}
                <pre>{{ correctEmails|join('<br>')|raw }}</pre>
            {% else %}
                <div class="alert alert-success" role="alert">None correct emails.</div>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h3>Wrong emails</h3>
            {% if wrongEmails|length > 0 %}
                <pre>{{ wrongEmails|join('<br>')|raw }}</pre>
            {% else %}
                <div class="alert alert-success" role="alert">None wrong emails.</div>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}
